<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{bulma/css/bulma.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
<nav th:replace="/fragments/Navbar.html :: navbar"></nav>
<main>
    <div class="hero">
        <div class="hero-body">
            <section class="container">
                <div class="columns is-centered">
                    <div class="column is-4-desktop">
                        <div class="subtitle has-text-centered p-4 has-text-danger" th:if="${param.error} != null">
                            <p>Invalid email and/or password</p>
                        </div>
                        <form th:action="@{/login}" method="post" class="box">
                            <div class="field">
                                <h2 class="subtitle">Login and start buying</h2>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input name="username" type="email" class="input" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input name="password" type="password" class="input" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field ">
                                <p class="control has-text-right">
                                    <button class="button is-success" type="submit">
                                        Login
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

</main>
</body>
</html>