<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Product List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bulma/css/bulma.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
<nav th:replace="fragments/Navbar.html :: navbar"></nav>
<section class="container">
    <div class="columns is-centered">
        <div class="column is-6-desktop">
            <div class="box">
                <table class="table is-center" style="margin: 0 auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                    <tr class="" th:each="product : ${products}" th:object="${product}">
                        <th th:text="*{id}"></th>
                        <td th:text="*{name}"></td>
                        <td th:text="*{price}"></td>
                        <td>
                            <i class="fas fa-edit has-text-info"></i>
                            <i class="fas fa-trash has-text-danger"></i>
                        </td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
                <div class="has-text-right">
                    <a class="button is-primary mt-3" href="/admin/add/product">Add new product</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="" th:src="@{../js/main.js}"></script>
</body>
</html>