<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="modal(product)">
    <button id="myBtn">Open Modal</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <section class="card">
                <div class="columns">
                    <div class="column">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


</body>
</html>