<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{bulma/css/bulma.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="navbar" class="navbar is-light py-4" role="navigation" aria-label="main navigation">
    <!--/*@thymesVar id="cart" type="se.joeldegerman.javaeewebshop.models.viewmodels.CartViewModel"*/-->
    <!--/*@thymesVar id="nameofuser" type="java.lang.String"*/-->
    <!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="useCart" type="java.lang.Boolean"*/-->


    <div id="navbarBasicExample" class="navbar-menu container">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                <h1 class="title">Webbshop</h1>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item mr-6">
                <a href="/cart">
                    <div class="cart-container">
                        <i class="fas fa-shopping-cart has-text-black"></i>
                        <p id="cart-counter" th:unless="${useCart}" class="counter">0</p>
                        <p  class="counter" th:if="${useCart}" th:text="${cart.cartSize}"></p>
                    </div>
                </a>
            </div>
            <div class="navbar-item">
                <div class="buttons" th:unless="${nameofuser}">
                    <a class="button is-primary" href="/signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Log in
                    </a>
                </div>
                    <p id="loggedInUser" class="mr-3" th:if="${nameofuser}" th:text="${nameofuser}"></p>
                <div class="buttons" >
                    <a href="/admin/index" class="button is-light is-dark" th:if="${isAdmin}">
                        Admin
                    </a>
                    <a th:if="${nameofuser}" class="button is-light" href="/logout">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>

</nav>
</body>
</html>