<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div layout:fragment="content">
    <h1 class="title mb-5">Error occurred</h1>
    <p class="subtitle">Go back to <a href="/">home page</a></p>
</div>
<th:block layout:fragment="optional">
</th:block>
</body>
</html>