@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "cart.css";
@import "modal.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  width: 172px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
