<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Product List</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>

<body>
<section class="" layout:fragment="content">
    <div class="columns is-centered">
        <div class="column is-6-desktop">
            <div class="box">
                <table class="table is-center" style="margin: 0 auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                    <tr class="" th:each="product : ${products}" th:object="${product}">
                        <th th:text="*{id}"></th>
                        <td th:text="*{name}"></td>
                        <td th:text="*{category.categoryName}"></td>
                        <td th:text="*{price}"></td>
                        <td>
                            <form method="get" th:action="@{'/admin/product/update/' + ${product.id}}">
                                <button type="submit"><i class="fas fa-edit has-text-info" id="edit"
                                                         th:data-productid="*{id}"></i></button>
                            </form>
                            <form th:action="@{'/admin/product/product' + ${product.id}}" method="post">
                                <button type="submit"><i class="fas fa-trash has-text-danger" id="delete" th:data-productid="*{id}"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
                <div th:replace="Fragments/PaginationBar :: pagination('/admin/product/page')"></div>
                <div class="has-text-right">
                    <a class="button is-primary mt-3" href="/admin/product/create">Add new product</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="" th:src="@{/js/admin.js}"></script>
</body>
</html>