<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin - Product List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<section layout:fragment="content" class="container">
    <div class="columns is-centered">
        <div class="column is-6-desktop">
            <div class="box">
                <table class="table is-center" style="margin: 0 auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                    <tr class="" th:each="product : ${products}" th:object="${product}">
                        <th th:text="*{id}"></th>
                        <td th:text="*{name}"></td>
                        <td th:text="*{category}"></td>
                        <td th:text="*{price}"></td>
                        <td>
                            <form th:action="@{'/admin/update/' + ${product.id}}" method="get">
                                <button type="submit"><i id="edit" th:data-productid="*{id}" class="fas fa-edit has-text-info"></i></button>
                            </form>
                            <i id="delete" th:data-productid="*{id}" class="fas fa-trash has-text-danger"></i>
                        </td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
                <div class="has-text-right">
                    <a class="button is-primary mt-3" href="/admin/add/product">Add new product</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="" th:src="@{/js/admin.js}"></script>
</body>
</html>