<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Update Product</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body>
<div layout:fragment="content">

    <form class="box" method="post" th:action="@{'/admin/update/' + ${product.id}}" th:object="${product}">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" placeholder="Category" th:field="*{category}" type="text">
                <span class="icon is-small is-left"><i class="fas fa-border-all"></i></span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" placeholder="Price" th:field="*{price}" type="text">
                <span class="icon is-small is-left"><i class="fas fa-money-bill-alt"></i></span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" placeholder="Name" th:field="*{name}" type="text">
                <span class="icon is-small is-left"><i class="fas fa-signature"></i></span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" placeholder="Image URL" th:field="*{imgUrl}" type="text">
                <span class="icon is-small is-left"> <i class="fas fa-image"></i></span>
            </p>
        </div>
        <div class="field">
            <p class="control has-text-right">
                <button class="button is-success" type="submit">
                    Update
                </button>
            </p>
        </div>
    </form>
</div>
</body>
</html>