<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{bulma/css/bulma.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/Navbar.html :: navbar(cart = ${cart})"></nav>
<section class="container py-6" th:if="${cart.cartSize > 0}">
    <div class="card p-5" style="max-width: 50rem; margin: 0 auto">
        <div class="columns has-text-centered" style="border-bottom: 1px dotted rgba(0,0,0,.2)">
            <div class="column is-flex is-align-items-center is-justify-content-space-around">
                <p>Bild</p>
                <p>Namn</p>
            </div>
            <div class="column">Antal</div>
            <div class="column">Pris</div>
        </div>
        <div class="columns is-vcentered has-text-centered" th:each="item : ${cart.getCartItems()}" th:object="${item}">
            <div class="column has-text-right">
                <div class="is-flex is-align-items-center is-justify-content-space-around">
                    <img src="" th:src="*{product.imgUrl}" alt="Product image" style="height: 50px">
                    <p th:text="*{product.name}"></p>
                </div>
            </div>
            <div class="column">
                <p class="plus" th:data-productid="*{product.id}">+</p>
                <p th:text="*{quantity}"></p>
                <p class="minus" th:data-productid="*{product.id}">-</p>
            </div>
            <div class="column">
                <p th:text="*{price}"></p>
            </div>
        </div>
    </div>
    <div class="has-text-right pt-3" style="max-width: 50rem; margin: 0 auto">
        <form action="" th:action="@{/order/checkout}" method="post">
            <button type="submit" class="button is-primary">Checkout</button>
        </form>
    </div>
</section>
<div th:unless="${cart.cartSize > 0}" class="is-flex is-align-items-center is-justify-content-center">No items added to
    Cart
</div>
<script src="" type="text/javascript" th:src="@{js/cart.js}"></script>
</body>
</html>