<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body>
<main layout:fragment="content">
    <section>
        <div class="columns is-centered mb-3">
            <div class="column is-half">
                <form th:action="@{/search}">
                    <div class="field">
                        <p class="control is-flex">
                            <input class="input" name="s" placeholder="Search" th:value="${search}" type="text">
                            <button class="button" type="submit"><span class=""><i class="fas fa-search"></i></span>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-half is-flex is-flex-wrap-wrap ">
                <div class="p-1" th:each="category : ${categories}">
                    <a class="button" id="category" th:data-categoryName="${category.categoryName}"
                       th:href="@{'/category/' + ${category.categoryName}}" th:text="${category.categoryName}">
                    </a>
                </div>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-3" th:each="product : ${products}" th:object="${product}">
                <article class="card">
                    <div class="columns is-multiline has-text-centered is-vcentered is-centered">
                        <a th:href="@{'/product/' + ${product.id} + '?name=' + ${product.name}}">
                            <div class="column is-12 my-6">
                                <img alt="Item Image" src="" style="max-height: 130px" th:src="*{imgUrl}">
                            </div>
                            <div class="column is-12 has-text-centered has-tooltip-bottom" th:data-tooltip="*{name}">
                                <p class="is-size-5 text" th:text="*{name}"></p>
                            </div>
                        </a>
                        <div class="column is-12">
                            <p class="is-size-6 subtitle" th:text="${product.price} + ' SEK'"></p>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button addbtn is-success" th:data-productid="${product.id}">Add Product
                        </button>
                    </div>
                </article>
            </div>
        </div>
        <div th:replace="Fragments/PaginationBar :: pagination"></div>
    </section>
</main>

<th:block layout:fragment="optional">
    <script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>