<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Joel's Webbshop</h1>
        <a href="/cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
</header>
<section class="container">
    <div class="product-card-row">
        <article class="product-card" th:each="product : ${products}">
            <section class="product-header">
                <img th:src="${product.imgUrl}" src="" class="product-logo" alt=""/>
            </section>
            <div class="product-body">
                <div class="product-info">
                    <p th:text="${product.name}"></p>
                    <p th:text="${product.price} + ' SEK'"></p>
                </div>
                <form action="#" th:action="@{'/cart/add/' + ${product.id}}" method="post">
                    <button type="submit">Add to cart</button>
                </form>
            </div>
        </article>

    </div>
</section>
</body>
</html>