<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bulma/css/bulma.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"></head>
</head>
<body>
<nav th:replace="fragments/Navbar :: navbar"></nav>


<section layout:fragment="content">
    <p>This is filled by content tempalte</p>
</section>

<footer class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <p>&copy; 2020 Joel's Webbshop. All rights reserved.</p>
        </div>
    </div>
</footer>






<th:block layout:fragment="optional"/>
</body>
</html>