<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body>
<div layout:fragment="content">
    <div class="columns is-centered">
        <div class="column is-8 has-text-centered">
            <div class="box">
                <p class="title mb-5" th:text="${product.name}"></p>
                <img alt="" th:src="${product.imgUrl}">
                <div class="column has-text-right">
                    <button class="button is-success addbtn" th:data-productid="${product.id}">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <h2 class="title">Information</h2>
                <p style="white-space: pre-line;" th:data-productid="${product.id}" th:text="${product.description}"></p>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="optional">
    <script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>